<footer id="footer">

    <i class="foot fab fa-twitter"></i>
    <i class="foot fab fa-facebook-f"></i>
    <i class="foot fab fa-instagram"></i>
    <i class="foot fas fa-envelope"></i>

    <p class="last">© Copyright 2022 E commerce</p>

</footer>



<!-- JAVASCRIPT -->
<script src="app.js"></script>
</body>



</html>

</html>